<!DOCTYPE html>
<html>
<head>
		<title>Welcome!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
</head>

<body>
	<div class= "row">
		<div class = "col-md-3"></div>
		<div class = "col-md-5 text-center">
			<h1>Welcome to GuessWhat!</h1>
			<p>Guess What's the most popular searching on the Internet</p>
		</div>
		<div class = "col-md-1 text-right">
			<h3>Login</h3>
		</div>
	</div>
	<div class = 'row'>
	<div class= 'col-md-3'></div>
	<div class= 'col-md-2'>
		<p class = "text-central"> Get 2 points for each Top 5 result!
		<ul class= "list-group">
			<li class= "list-group-item list-group-item-info">Dog<span class="badge">correct</span></li>
			<li class= "list-group-item list-group-item-info">2ed</li>
			<li class= "list-group-item list-group-item-info">3rd</li>
			<li class= "list-group-item list-group-item-info">4th</li>
			<li class= "list-group-item list-group-item-info">5th</li>
		<ul>
	</div>
	<div class= 'col-md-2'></div>
	<div class= 'col-md-2'>
		<p class = "text-central"> Get 1 points for each 6-10 results!
		<ul class= "list-group">
			<li class= "list-group-item list-group-item-info">6th</li>
			<li class= "list-group-item list-group-item-info">7th</li>
			<li class= "list-group-item list-group-item-info">8th</li>
			<li class= "list-group-item list-group-item-info">9th</li>
			<li class= "list-group-item list-group-item-info">10th</li>
		<ul>
	</div>
	</div>
	
	<div class = "row">
		<div class= 'text-center'>
			<h3>Highest Score: 200</h3>
			<h3>Current Score: 100</h3>
		</div>
	</div>
	
	<div class = "row">
		<div class = "col-md-5"></div>
		<form class = "col-md-2">
		  <div class="form-group">
			<label for = "answer">Answer:</label>
			<input class="form-control" id="answer">
		  </div>
		  <button type="submit" class="btn btn-default ">Submit</button>
		</form>
	</div>
	
	</div>
	
	


</body>

</html>